<footer>
	<p>2020 - <%- new Date().getFullYear(); -%> | Mit License | A site created with ❤️ by <u>VCoding#4488</u> 
	<ul>
		<li><a href="https://twitter.com/VincentCoding" target="_BLANK">Twitter</a></li>
		<li><a href="https://github.com/vincent-coding/" target="_BLANK">Github</a></li>
		<li><a href="https://github.com/vincent-coding/uCodes" target="_BLANK">Source Code</a></li>
		<li><a href="/api" data-turbolinks="false">API</a></li>
	</ul>
	<ul id="footer-icon-list">
		<li><i>Home & search icons</i> by <a href="https://fonts.google.com/icons?selected=Material+Icons" target="_BLANK">Google Fonts</a></li>
		<li><i>Gamepad icon</i> by <a href="https://iconmonstr.com/gamepad-17-svg/" target="_BLANK">iconmonstr</a></li>
		<li><i>Discord logo</i> by <a href="https://discord.com/branding" target="_BLANK">Discord</a></li>
		<li><i>Responsive Table</i> by <a href="https://codepen.io/AllThingsSmitty/pen/MyqmdM" target="_BLANK">AllThingsSmitty</a></li>
	</ul>
	<div class="footer-separator"></div>
</footer>