@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100;400&display=swap');
html, body {margin: 0; padding: 0;}

body {
	background-image: url('https://images2.alphacoders.com/665/665089.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #2c3e50;
	color: #fff;
	font-family: "Roboto";
}

header {
	height: 75px;
	font-size: 25px;
	display: flex;
	align-items:center;
	justify-content:center;
}

header ul {margin: 0; padding: 0; opacity: 1;}
#discord-svg {vertical-align: text-top;}

header ul li, footer ul li {display: inline; list-style: none; margin:0 35px 0 0;}

header ul li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	transition: 0.5s ease;
}

header ul li a:hover {
	background-color: rgba(44, 62, 80, 1);
	border-radius: 12px;
}

@media(max-width: 670px) {
	header ul li svg {
		display: none;
	}
}

@media(max-width: 550px) {
	header ul li {
		font-size: 5vw;
		margin: 0 0 20px 0;
	}
}

@media(max-width: 500px) {
	footer ul li {
		font-size: 15px;
		margin:0 7vw 0 0;
	}
}

#container, footer, header {
	width: 90%;
	margin-top: 25px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgba(44, 62, 80, 0.6);
}

#container {border-radius: 25px; overflow-x: hidden;}

footer, header {border-radius: 15px;}

footer {
	text-align: center;
	padding-top: 15px;
	font-size: 18px;
	margin-bottom: 25px;
}
.footer-separator {padding-bottom: 10px;}

footer a, .link {
	text-decoration: underline;
	color: #f1c40f;
}

#footer-icon-list li {display: block;}

#content {padding: 15px;}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
	font-family: "Lexend Deca";
}

table tr {
	border: 1px solid #ddd;
	padding: .35em;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {border: 0;}
	table caption {font-size: 1.3em;}

	table thead {
		border: none;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {border-bottom: 0;}
}

table tr a {color: #f1c40f; text-decoration: none;}
table tr a:hover {text-decoration: underline;}

#modal {
	display: none;
	position: fixed;
	z-index: 666;
	left: 0; top: 0;
	width: 100%; height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

#modal-container {
	background-color: #2c3e50;
	margin: 6.5% auto;
	padding: 20px;
	border: 1px solid #2c3e50;
	border-radius: 16px;
	width: 80%;
}

#modal-close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: 0.3s ease;
}

#modal-close:hover, #modal-close:focus {color: #95a5a6; cursor: pointer;}

#modal-header {
	padding: 2px 16px;
	color: white;
	font-family: "Lexend Deca";
	font-size: 20px;
}

#modal-cafe-code, #modal-ugecko , #modal-other {
	float: left;
	width: 33.33%;
	text-align: center;
}

#modal-content::after {
	content: "";
	display: table;
	clear: both;
}

.show-button {background-color: #2c3e50;}
.copy-button {
	background-color: #34495e;
	width: 90%;
}

.show-button, .copy-button {
	border: none;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 35px 10px 35px;
	cursor: pointer;
	border-radius: 12px;
	transition: 0.5s ease;
}

.show-button:hover, .copy-button:hover {
	border-radius: 32px;
}

textarea {
	width: 90%;
	height: 300px;
	resize: vertical;
}

@media(max-width: 750px) {
	#modal-cafe-code, #modal-ugecko , #modal-other {
		float: left;
		width: 100%;
		height: 33.33%;
	}
	textarea {
		width: 100%;
	}
}

#api-title {
	text-align: center;
	font-family: "Lexend Deca";
	font-size: 32px;
}

.section {
	width: 100%;
}

.title-section {
	width: 100%;
	padding-left: 50px;
}

.type-get {
	color: #2ecc71;
	font-weight: bold;
	font-size: 28px;
	padding-right: 25px;
}

.title-section p {
	font-size: 25px;
}

.desc-section {
	padding-left: 30px;
	margin-top: -25px;
}

.curl-example, .python-example, .nodejs-example {
	float: left;
	width: 33.33%;
}

.example-section::after {
	content: "";
	display: table;
	clear: both;
}

.pre {width: 95%;}
.code {height: 300px;}

.title-example {text-align: center; font-size: 20px;}
.json-style {text-align: left; color: #fff;}

@media(max-width: 1000px) {
	.curl-example, .python-example, .nodejs-example {
		float: left;
		width: 100%;
		height: 33.33%;
	}
}

.info-round-green::before {
	content: ' \25CF';
	font-size: 28px;
	color: #2ecc71;
}